image-export
*~
refind-bin-0.13.3.1/COPYING.txt
refind-bin-0.13.3.1/CREDITS.txt
refind-bin-0.13.3.1/LICENSE.txt
refind-bin-0.13.3.1/mkrlconf
refind-bin-0.13.3.1/mountesp
refind-bin-0.13.3.1/mvrefind
refind-bin-0.13.3.1/NEWS.txt
refind-bin-0.13.3.1/README.txt
refind-bin-0.13.3.1/refind-install
refind-bin-0.13.3.1/refind-mkdefault
refind-bin-0.13.3.1/banners/refind_banner-alpha.png
refind-bin-0.13.3.1/banners/refind_banner.png
refind-bin-0.13.3.1/banners/refind_banner.svg
refind-bin-0.13.3.1/docs/Styles/styles.css
refind-bin-0.13.3.1/docs/man/mkrlconf.8
refind-bin-0.13.3.1/docs/man/mvrefind.8
refind-bin-0.13.3.1/docs/man/refind-install.8
refind-bin-0.13.3.1/docs/man/refind-mkdefault.8
refind-bin-0.13.3.1/docs/refind/about.png
refind-bin-0.13.3.1/docs/refind/about.svg
refind-bin-0.13.3.1/docs/refind/ambience.png
refind-bin-0.13.3.1/docs/refind/asus-bootmanager.jpg
refind-bin-0.13.3.1/docs/refind/asus-bootorder.jpg
refind-bin-0.13.3.1/docs/refind/automatic-submenu.png
refind-bin-0.13.3.1/docs/refind/bootcoup.html
refind-bin-0.13.3.1/docs/refind/bootmode.html
refind-bin-0.13.3.1/docs/refind/bootorder.png
refind-bin-0.13.3.1/docs/refind/configfile.html
refind-bin-0.13.3.1/docs/refind/donate.png
refind-bin-0.13.3.1/docs/refind/donate.svg
refind-bin-0.13.3.1/docs/refind/drivers.html
refind-bin-0.13.3.1/docs/refind/easyuefi.png
refind-bin-0.13.3.1/docs/refind/editor.png
refind-bin-0.13.3.1/docs/refind/FDL-1.3.txt
refind-bin-0.13.3.1/docs/refind/features.html
refind-bin-0.13.3.1/docs/refind/firmware-badge.png
refind-bin-0.13.3.1/docs/refind/func_bootorder.png
refind-bin-0.13.3.1/docs/refind/func_csr_rotate.png
refind-bin-0.13.3.1/docs/refind/func_install.png
refind-bin-0.13.3.1/docs/refind/getting.html
refind-bin-0.13.3.1/docs/refind/HashTool1.png
refind-bin-0.13.3.1/docs/refind/HashTool2.png
refind-bin-0.13.3.1/docs/refind/hi-theme.png
refind-bin-0.13.3.1/docs/refind/index.html
refind-bin-0.13.3.1/docs/refind/install.png
refind-bin-0.13.3.1/docs/refind/installing.html
refind-bin-0.13.3.1/docs/refind/linux.html
refind-bin-0.13.3.1/docs/refind/mac-theme.png
refind-bin-0.13.3.1/docs/refind/manual-submenu.png
refind-bin-0.13.3.1/docs/refind/mkrlconf.html
refind-bin-0.13.3.1/docs/refind/MokManager2.png
refind-bin-0.13.3.1/docs/refind/msinfo32.png
refind-bin-0.13.3.1/docs/refind/mvrefind.html
refind-bin-0.13.3.1/docs/refind/os_legacy.png
refind-bin-0.13.3.1/docs/refind/papirus-theme.png
refind-bin-0.13.3.1/docs/refind/refind-background-snowy.png
refind-bin-0.13.3.1/docs/refind/refind-background.png
refind-bin-0.13.3.1/docs/refind/refind-install.html
refind-bin-0.13.3.1/docs/refind/rEFInd-Metro.png
refind-bin-0.13.3.1/docs/refind/refind-mkdefault.html
refind-bin-0.13.3.1/docs/refind/refind.png
refind-bin-0.13.3.1/docs/refind/revisions.html
refind-bin-0.13.3.1/docs/refind/secureboot.html
refind-bin-0.13.3.1/docs/refind/sip.html
refind-bin-0.13.3.1/docs/refind/startup-disk.png
refind-bin-0.13.3.1/docs/refind/submenu.png
refind-bin-0.13.3.1/docs/refind/themes.html
refind-bin-0.13.3.1/docs/refind/todo.html
refind-bin-0.13.3.1/docs/refind/tux-refind-theme.png
refind-bin-0.13.3.1/docs/refind/using.html
refind-bin-0.13.3.1/docs/refind/windows-gpt.png
refind-bin-0.13.3.1/docs/refind/windows8-on-mac-efi.txt
refind-bin-0.13.3.1/docs/refind/yosemite.html
refind-bin-0.13.3.1/fonts/liberation-mono-regular-12.png
refind-bin-0.13.3.1/fonts/liberation-mono-regular-14.png
refind-bin-0.13.3.1/fonts/liberation-mono-regular-24.png
refind-bin-0.13.3.1/fonts/liberation-mono-regular-28.png
refind-bin-0.13.3.1/fonts/mkfont.sh
refind-bin-0.13.3.1/fonts/nimbus-mono-12.png
refind-bin-0.13.3.1/fonts/nimbus-mono-14.png
refind-bin-0.13.3.1/fonts/nimbus-mono-16.png
refind-bin-0.13.3.1/fonts/nimbus-mono-24.png
refind-bin-0.13.3.1/fonts/nimbus-mono-28.png
refind-bin-0.13.3.1/fonts/README.txt
refind-bin-0.13.3.1/fonts/ubuntu-mono-12.png
refind-bin-0.13.3.1/fonts/ubuntu-mono-14.png
refind-bin-0.13.3.1/fonts/ubuntu-mono-16.png
refind-bin-0.13.3.1/fonts/ubuntu-mono-24.png
refind-bin-0.13.3.1/fonts/ubuntu-mono-28.png
refind-bin-0.13.3.1/keys/altlinux.cer
refind-bin-0.13.3.1/keys/canonical-uefi-ca.cer
refind-bin-0.13.3.1/keys/canonical-uefi-ca.crt
refind-bin-0.13.3.1/keys/centossecureboot201.cer
refind-bin-0.13.3.1/keys/centossecureboot201.crt
refind-bin-0.13.3.1/keys/centossecurebootca2.cer
refind-bin-0.13.3.1/keys/centossecurebootca2.crt
refind-bin-0.13.3.1/keys/debian.cer
refind-bin-0.13.3.1/keys/fedora-ca.cer
refind-bin-0.13.3.1/keys/fedora-ca.crt
refind-bin-0.13.3.1/keys/microsoft-kekca-public.cer
refind-bin-0.13.3.1/keys/microsoft-pca-public.cer
refind-bin-0.13.3.1/keys/microsoft-uefica-public.cer
refind-bin-0.13.3.1/keys/microsoft-uefica-public.crt
refind-bin-0.13.3.1/keys/openSUSE-UEFI-CA-Certificate-4096.cer
refind-bin-0.13.3.1/keys/openSUSE-UEFI-CA-Certificate-4096.crt
refind-bin-0.13.3.1/keys/openSUSE-UEFI-CA-Certificate.cer
refind-bin-0.13.3.1/keys/openSUSE-UEFI-CA-Certificate.crt
refind-bin-0.13.3.1/keys/README.txt
refind-bin-0.13.3.1/keys/refind.cer
refind-bin-0.13.3.1/keys/refind.crt
refind-bin-0.13.3.1/keys/SLES-UEFI-CA-Certificate.cer
refind-bin-0.13.3.1/keys/SLES-UEFI-CA-Certificate.crt
refind-bin-0.13.3.1/refind/refind_aa64.efi
refind-bin-0.13.3.1/refind/refind_ia32.efi
refind-bin-0.13.3.1/refind/refind_x64.efi
refind-bin-0.13.3.1/refind/refind.conf-sample
refind-bin-0.13.3.1/refind/drivers_aa64/btrfs_aa64.efi
refind-bin-0.13.3.1/refind/drivers_aa64/ext2_aa64.efi
refind-bin-0.13.3.1/refind/drivers_aa64/ext4_aa64.efi
refind-bin-0.13.3.1/refind/drivers_aa64/hfs_aa64.efi
refind-bin-0.13.3.1/refind/drivers_aa64/iso9660_aa64.efi
refind-bin-0.13.3.1/refind/drivers_aa64/LICENSE_GPL.txt
refind-bin-0.13.3.1/refind/drivers_aa64/LICENSE.txt
refind-bin-0.13.3.1/refind/drivers_aa64/reiserfs_aa64.efi
refind-bin-0.13.3.1/refind/drivers_ia32/btrfs_ia32.efi
refind-bin-0.13.3.1/refind/drivers_ia32/ext2_ia32.efi
refind-bin-0.13.3.1/refind/drivers_ia32/ext4_ia32.efi
refind-bin-0.13.3.1/refind/drivers_ia32/hfs_ia32.efi
refind-bin-0.13.3.1/refind/drivers_ia32/iso9660_ia32.efi
refind-bin-0.13.3.1/refind/drivers_ia32/LICENSE_GPL.txt
refind-bin-0.13.3.1/refind/drivers_ia32/LICENSE.txt
refind-bin-0.13.3.1/refind/drivers_ia32/reiserfs_ia32.efi
refind-bin-0.13.3.1/refind/drivers_x64/btrfs_x64.efi
refind-bin-0.13.3.1/refind/drivers_x64/ext2_x64.efi
refind-bin-0.13.3.1/refind/drivers_x64/ext4_x64.efi
refind-bin-0.13.3.1/refind/drivers_x64/hfs_x64.efi
refind-bin-0.13.3.1/refind/drivers_x64/iso9660_x64.efi
refind-bin-0.13.3.1/refind/drivers_x64/LICENSE_GPL.txt
refind-bin-0.13.3.1/refind/drivers_x64/LICENSE.txt
refind-bin-0.13.3.1/refind/drivers_x64/reiserfs_x64.efi
refind-bin-0.13.3.1/refind/icons/arrow_left.png
refind-bin-0.13.3.1/refind/icons/arrow_right.png
refind-bin-0.13.3.1/refind/icons/boot_linux.png
refind-bin-0.13.3.1/refind/icons/boot_win.png
refind-bin-0.13.3.1/refind/icons/func_about.png
refind-bin-0.13.3.1/refind/icons/func_bootorder.png
refind-bin-0.13.3.1/refind/icons/func_csr_rotate.png
refind-bin-0.13.3.1/refind/icons/func_exit.png
refind-bin-0.13.3.1/refind/icons/func_firmware.png
refind-bin-0.13.3.1/refind/icons/func_hidden.png
refind-bin-0.13.3.1/refind/icons/func_install.png
refind-bin-0.13.3.1/refind/icons/func_reset.png
refind-bin-0.13.3.1/refind/icons/func_shutdown.png
refind-bin-0.13.3.1/refind/icons/mouse.png
refind-bin-0.13.3.1/refind/icons/os_arch.png
refind-bin-0.13.3.1/refind/icons/os_artful.png
refind-bin-0.13.3.1/refind/icons/os_bionic.png
refind-bin-0.13.3.1/refind/icons/os_centos.png
refind-bin-0.13.3.1/refind/icons/os_chakra.png
refind-bin-0.13.3.1/refind/icons/os_chrome.png
refind-bin-0.13.3.1/refind/icons/os_clover.png
refind-bin-0.13.3.1/refind/icons/os_crunchbang.png
refind-bin-0.13.3.1/refind/icons/os_debian.png
refind-bin-0.13.3.1/refind/icons/os_devuan.png
refind-bin-0.13.3.1/refind/icons/os_elementary.png
refind-bin-0.13.3.1/refind/icons/os_fedora.png
refind-bin-0.13.3.1/refind/icons/os_freebsd.png
refind-bin-0.13.3.1/refind/icons/os_frugalware.png
refind-bin-0.13.3.1/refind/icons/os_gentoo.png
refind-bin-0.13.3.1/refind/icons/os_gummiboot.png
refind-bin-0.13.3.1/refind/icons/os_haiku.png
refind-bin-0.13.3.1/refind/icons/os_hwtest.png
refind-bin-0.13.3.1/refind/icons/os_kubuntu.png
refind-bin-0.13.3.1/refind/icons/os_legacy.png
refind-bin-0.13.3.1/refind/icons/os_linux.png
refind-bin-0.13.3.1/refind/icons/os_linuxmint.png
refind-bin-0.13.3.1/refind/icons/os_lubuntu.png
refind-bin-0.13.3.1/refind/icons/os_mac.png
refind-bin-0.13.3.1/refind/icons/os_mageia.png
refind-bin-0.13.3.1/refind/icons/os_mandriva.png
refind-bin-0.13.3.1/refind/icons/os_manjaro.png
refind-bin-0.13.3.1/refind/icons/os_netbsd.png
refind-bin-0.13.3.1/refind/icons/os_network.png
refind-bin-0.13.3.1/refind/icons/os_opensuse.png
refind-bin-0.13.3.1/refind/icons/os_redhat.png
refind-bin-0.13.3.1/refind/icons/os_refind.png
refind-bin-0.13.3.1/refind/icons/os_refit.png
refind-bin-0.13.3.1/refind/icons/os_slackware.png
refind-bin-0.13.3.1/refind/icons/os_suse.png
refind-bin-0.13.3.1/refind/icons/os_systemd.png
refind-bin-0.13.3.1/refind/icons/os_trusty.png
refind-bin-0.13.3.1/refind/icons/os_ubuntu.png
refind-bin-0.13.3.1/refind/icons/os_uefi.png
refind-bin-0.13.3.1/refind/icons/os_unknown.png
refind-bin-0.13.3.1/refind/icons/os_void.png
refind-bin-0.13.3.1/refind/icons/os_win.png
refind-bin-0.13.3.1/refind/icons/os_win8.png
refind-bin-0.13.3.1/refind/icons/os_xenial.png
refind-bin-0.13.3.1/refind/icons/os_xubuntu.png
refind-bin-0.13.3.1/refind/icons/os_zesty.png
refind-bin-0.13.3.1/refind/icons/README
refind-bin-0.13.3.1/refind/icons/tool_apple_rescue.png
refind-bin-0.13.3.1/refind/icons/tool_fwupdate.png
refind-bin-0.13.3.1/refind/icons/tool_memtest.png
refind-bin-0.13.3.1/refind/icons/tool_mok_tool.png
refind-bin-0.13.3.1/refind/icons/tool_netboot.png
refind-bin-0.13.3.1/refind/icons/tool_part.png
refind-bin-0.13.3.1/refind/icons/tool_rescue.png
refind-bin-0.13.3.1/refind/icons/tool_shell.png
refind-bin-0.13.3.1/refind/icons/tool_windows_rescue.png
refind-bin-0.13.3.1/refind/icons/transparent.png
refind-bin-0.13.3.1/refind/icons/vol_efi.png
refind-bin-0.13.3.1/refind/icons/vol_external.png
refind-bin-0.13.3.1/refind/icons/vol_internal.png
refind-bin-0.13.3.1/refind/icons/vol_net.png
refind-bin-0.13.3.1/refind/icons/vol_optical.png
refind-bin-0.13.3.1/refind/icons/licenses/cc-3.0.txt
refind-bin-0.13.3.1/refind/icons/licenses/cc-by-sa-4.0.txt
refind-bin-0.13.3.1/refind/icons/licenses/gpl-2.0.txt
refind-bin-0.13.3.1/refind/icons/licenses/lgpl-3.0.txt
refind-bin-0.13.3.1/refind/tools_ia32/gptsync_ia32.efi
refind-bin-0.13.3.1/refind/tools_x64/gptsync_x64.efi
ShellBinPkg/MinUefiShell/MinUefiShell.inf
ShellBinPkg/MinUefiShell/AArch64/Shell.efi
ShellBinPkg/MinUefiShell/Arm/Shell.efi
ShellBinPkg/MinUefiShell/Ia32/Shell.efi
ShellBinPkg/MinUefiShell/X64/Shell.efi
ShellBinPkg/UefiShell/UefiShell.inf
ShellBinPkg/UefiShell/AArch64/Shell.efi
ShellBinPkg/UefiShell/Arm/Shell.efi
ShellBinPkg/UefiShell/Ia32/Shell.efi
ShellBinPkg/UefiShell/X64/Shell.efi
